/* Подключение внешнего шрифта */

.sp1 {
    color: aqua;
    font-weight: 700;
}


body {
    font-family: "Times New Roman", Times, serif;
    background-color: bisque;
    
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 15px; /* Размер шрифта */
    /* font-family: 'Courier New', Courier, monospace; Тип шрифта / */
    /* / font-weight: 900; Толщина шрифта / */
    /* / font-style: italic; Курсив / */
    color: rgb(119, 28, 46); /* Цвет шрифта */
}

body > div {
    padding: 25px;
    font-style: serif;
}

h1, h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}

img {
    border: 4px double black;
    border-radius: 15%;
    border-width: 30px;
    border-color: aqua;
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}

table {
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 15px;
}

p {
    /* Изменение регистра текста */
    text-transform: capitalize; /* Первая буква слова с заглавной */   
    text-shadow: 1px -1px 1px #615353; /* Тень текста */
    text-align: justify; /* Выравнивание текста по ширине */
    text-indent: 20px; /* Отступ первой строки в пикселях */
    color: #be1010;
}

.bad {
    text-decoration: underline line-through; /* 2 свойства разом */
}



/*div {
    / background-color: DarkOrange;
    background-color: #FF8C00; /
    / background-color: rgb(255, 140, 0); /
    / background-color: rgba(255, 140, 0, .15); /

    / background-color: #eee; /

    width: 100px; / Ширина /
    height: 100px; / Высота /

    background-color: red; / Цвет фона /
    opacity: .4; / Прозрачность 
}
*/